# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.pyc

# Environment variables
.env

# Database
backend/*.db
backend/*.sqlite

# Uploaded files
backend/uploads/

# Node
node_modules/
dist/
.vite/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

PLAN.md